{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    {% block link %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/header.js' %}" defer></script>
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="web_head">
    <div class="web_head_content">
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'png/logo.png' %}" class="logo_img"></a>
        <div class="web_head_links">
            {% block head_links %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="mobile_head">
    <a href="{% url 'home' %}" class="logo"><img src="{% static 'png/logo.png' %}" class="logo_img"></a>
    <span id="menu"><img src="{% static 'png/menu.png' %}" alt="" class="mobile_menu"></span>
    <nav id = "nav" class="nav">
        <ul class = "second">
            <li><a href="{% url 'home' %}">Главная страница</a></li>
            <li><a href = "{% url 'reviews' %}">Отзывы</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </nav>
</div>

<div class="content" id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>