{% extends 'header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}

{% block title %}
Содействие и защита
{% endblock %}

{% block head_links %}
<a href="{% url 'contacts' %}" class="link">Контакты</a>
<a href="{% url 'reviews' %}" class="link">Отзывы</a>
<a href="{% url 'home' %}" class="link active_link">Главная страница</a>
{% endblock %}


{% block content %}
<div class="title_block">
    <div class="content_block">
        <div class="title_block_text">
            <h1>Юридическая помощь в любой жизненной ситуации</h1>
            <p>Столкнулись с проблемами? Мы найдем лучшее решение!</p>
            <button onclick="location.href='{% url 'contacts' %}';">Связаться с нами</button>
        </div>
        <div class="title_contact">
            <p>Связаться с юристом</p>
            <a href="tel:89622888151">8 (962) 208-01-51</a>
            <button onclick="location.href='#call';">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</button>
        </div>
    </div>
</div>

<div class="about_block">
    <div class="content_help_block">
        <div class="about_block_text">
            <h1>Чем мы можем помочь</h1>
            <p>Наши основные услуги</p>
        </div>
        <div class="help_blocks">
            <div class="help_block">
                <div class="head_help_block">
                    <h1>Юридическая консультация</h1>
                </div>
                <div class="body_help_block">
                    <div class="body_help_block_content">
                        <h2>Индивидуальные консультации</h2>
                        <p>Наши опытные юристы готовы предоставить вам персональную консультацию, основанную на ваших конкретных обстоятельствах.</p>
                        <h2>Правовой анализ документов</h2>
                        <p>Мы осуществляем глубокий анализ ваших документов, чтобы предоставить вам полную картину вашего правовогоположения.</p>
                        <h2>Составлениеюридических документов</h2>
                        <p>Наша команда поможет вам в создании и проверке необходимых юридических документов, обеспечивая их правовую корректность.</p>
                    </div>
                </div>
            </div>
            <div class="help_block">
                <div class="head_help_block">
                    <h1>Гражданские и жилищные дела</h1>
                </div>
                <div class="body_help_block">
                    <div class="body_help_block_content">
                        <h2>Разрешение жилищных споров</h2>
                        <p>Мы занимаемся решением разногласий в сфере жилья, включая арендные отношения, проблемы с соседями и другие аспекты жилищного права.</p>
                        <h2>Защита прав потребителей</h2>
                        <p>Наши юристы оказывают помощь в случаях нарушения ваших прав как потребителя, в том числе возвращение средств и компенсации за ущерб.</p>
                        <h2>Сопровождениесделок с недвижимостью</h2>
                        <p>Мы обеспечиваем безопасность и правовую прозрачность при покупке, продаже или аренде недвижимости.</p>
                    </div>
                </div>
            </div>
            <div class="help_block">
                <div class="head_help_block">
                    <h1>Семейные дела</h1>
                </div>
                <div class="body_help_block second_type_help_block">
                    <div class="body_help_block_content">
                        <h2>Раздел имущества</h2>
                        <p>Мы помогаем в разделе совместно нажитого имущества, обеспечивая справедливость и защищая ваши интересы.</p>
                        <h2>Споры о детях</h2>
                        <p>Наша команда специализируется на решении вопросов опеки и других аспектов, связанных со спорами о детях.</p>
                        <h2>Оформлениебрачного контракта</h2>
                        <p>Мы предоставляем услуги по составлению брачных контрактов, обеспечивая четкое определение прав и обязанностей каждого супруга.</p>
                    </div>
                </div>
            </div>
            <div class="help_block">
                <div class="head_help_block">
                    <h1>Сопровождение по банкротству</h1>
                </div>
                <div class="body_help_block second_type_help_block">
                    <div class="body_help_block_content">
                        <h2>Банкротство физических лиц</h2>
                        <p>Наша команда помогает вам разобраться с процедурой банкротства, обеспечивая поддержку на всех этапах.</p>
                        <h2>Банкротство юридических лиц</h2>
                        <p>Мы предоставляем комплексное юридическое сопровождение для предприятий в процессе банкротства.</p>
                        <h2>Взыскание задолженностей</h2>
                        <p>Мы помогаем в вопросах взыскания долгов, собираем необходимые доказательства и представляем их на судебных заседаниях.</p>
                    </div>
                </div>
            </div>
            <div class="help_block" style="grid-column: span 2;">
                <div class="head_help_block">
                    <h1>Автоюрист</h1>
                </div>
                <div class="body_help_block third_type_help_block">
                    <div class="body_help_block_content">
                        <h2>ДТП и страховые вопросы</h2>
                        <p>Наши специалисты помогут вам в вопросах, связанных с ДТП, страховыми компенсациями и возмещением ущерба.</p>
                        <h2>Юридическое сопровождение сделокс автотранспортом</h2>
                        <p>Мы обеспечиваем правовую защиту при покупке, продаже и регистрации автомобилей.</p>
                        <h2>Оспаривание штрафов</h2>
                        <p>Вам несправедливо выписали штраф за дорожное нарушение? Мы поможем добиться пересмотра и честного результата.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_us1">
    <div class="contact_us1_content">
        <div class="contact_us1_first_block">
            <div class="contact_us1_text">
                <h1>Нет нужной услуги?</h1>
                <p>Оставьте заявку, и специалист свяжется с вами в ближайшее время. Мы всегда готовы ответить на любые вопросы и оказать необходимую помощь.</p>
            </div>
            <div class="contact_us1_number">
                <div class="line"></div>
                <div class="contact_us1_number_text">
                    <p>Связаться с юристом</p>
                    <a href="tel:89622080151">8 (962) 208-01-51</a>
                </div>
            </div>
        </div>
        <div class="contact_us1_second_block">
            <form method="post" class="form_block">
                {% csrf_token %}
                <input id='name1' name="name" type="text" placeholder="Ваше имя" maxlength="40" size="30" class="input_form" autocomplete="off" required>
                <input id='number1' name="number" type="tel" placeholder="Ваш номер телефона" maxlength="30" size="30" class="input_form" autocomplete="off" required><br>
                <button type="button" class="continue_button" onclick="first_contact_block()">Отправить</button>
            </form>
            <p>Нажимая кнопку "Отправить", Вы соглашаетесь с <a href="{% url 'personal_data' %}">политикой обработки ПД</a> </p>
        </div>
    </div>
</div>

<div class="why_we">
    <div class="why_we_content">
        <h1>Почему стоит обратиться к нам</h1>
        <div class="why_we_grid">
            <div class="why_we_block">
                <h2>Вы ищете надежного семейного юриста</h2>
                <div class="why_we_block_text">
                    Одним из основных направлений нашей деятельности является оказание помощи семьям. Наш опытный юрист по семейным вопросам предоставит вам поддержку в защите прав ваших близких и решении любых правовых вопросов.
                </div>
            </div>
            <div class="why_we_block">
                <h2>Вам требуется срочная помощь юриста</h2>
                <div class="why_we_block_text">
                    Часто люди обращаются за помощью в крайних ситуациях или в последний момент. Наша команда готова к выполнению любых задач и присоединяется к работе на любом этапе.
                </div>
            </div>
            <div class="why_we_block">
                <h2>Вы хотите оценку перспектив</h2>
                <div class="why_we_block_text">
                    Принцип полной открытости является одним из основных принципов компании "Содействие и защита". После тщательного изучения ситуации мы предоставим вам информацию о возможных рисках и трудностях, а также дадим честную оценку вероятности успешного разрешения спора.
                </div>
            </div>
            <div class="why_we_block">
                <h2>Вам сложно довериться юристу</h2>
                <div class="why_we_block_text">
                    Наши основные усилия направлены на защиту ваших прав. Мы никогда не утаиваем детали и перспективы дела, не ставим под угрозу безопасность клиента и всегда прозрачно озвучиваем стоимость предоставляемых услуг. Семейный юрист всегда выступает на вашей стороне!
                </div>
            </div>
            <div class="why_we_block">
                <h2>Вам важен результат</h2>
                <div class="why_we_block_text">
                    Известное имя не является гарантией успеха. Наша команда – это опытные специалисты, готовые прийти на помощь и бороться за ваши права в любой ситуации. Успешные дела свидетельствуют о профессионализме наших сотрудников.
                </div>
            </div>
            <div class="why_we_block">
                <h2>Вы цените приватность</h2>
                <div class="why_we_block_text">
                    Мы строго соблюдаем конфиденциальность информации, полученной от клиента. Сотрудничая с нами, вы можете быть уверены, что любые деликатные моменты останутся нераскрытыми.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="how_we_work">
    <div class="how_we_work_content">
        <h1>Как мы работаем?</h1>
        <div class="how_we_work_info">
            Благодаря эффективной организации процессов, наш коллектив способен оперативно и качественно разрешить представленные вами вопросы.
        </div>
        <div class="how_we_work_block">
            <img src="{% static 'png/steps.png' %}" class="steps">
            <img src="{% static 'png/steps2.png' %}" class="steps2">
            <div class="how_we_work_body">
                <div class="how_we_work_item">
                    <h2>Вы обращаетесь к нам</h2>
                    <p>Обратиться к нам за помощью вы можете по телефону, на сайте или по e-mail,</p>
                </div>
                <div class="how_we_work_item">
                    <h2>Предлагаем варианты решения проблемы</h2>
                    <p>Мы не даем пустых обещаний и невыполнимых гарантий, а анализируем перспективы, честно озвучиваем их клиенту и предлагаем подходящий вариант выхода из ситуации.</p>
                </div>
                <div class="how_we_work_item">
                    <h2>Работаем над вашей проблемой</h2>
                    <p>Опытные специалисты в правовой области решат вопрос. При необходимости вовлечем наш аналитический центр для дополнительного анализа и эффективного разрешения задач.</p>
                </div>
                <div class="how_we_work_item">
                    <h2>Ваша проблема решена</h2>
                    <p>Мы знаем, что клиенту не интересен процесс, а важен результат. Решение вопроса в вашу пользу – цель работы нашей команды профессионалов.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_us1" style="margin-top: 20px;" id="call">
    <div class="contact_us1_content">
        <div class="contact_us1_first_block" style="height: 300px;">
            <div class="contact_us1_text">
                <h1>Готовы обратиться к юристу прямо сейчас?</h1>
                <p>Оставьте заявку, и мы оперативно свяжемся с вами, после чего подберем специалиста в нужной области права.</p>
            </div>
            <div class="contact_us1_number">
                <div class="line"></div>
                <div class="contact_us1_number_text">
                    <p>Связаться с юристом</p>
                    <a href="tel:89622080151">8 (962) 208-01-51</a>
                </div>
            </div>
        </div>
        <div class="contact_us1_second_block">
            <form method="post" class="form_block">
                {% csrf_token %}
                <input id='name2' name="name" type="text" placeholder="Ваше имя" maxlength="40" size="30" class="input_form" autocomplete="off" required>
                <input id='number2' name="number" type="text" placeholder="Ваш номер телефона" maxlength="30" size="30" class="input_form" autocomplete="off" required><br>
                <button type="button" class="continue_button" onclick="second_contact_block()">Отправить</button>
            </form>
            <p>Нажимая кнопку "Отправить", Вы соглашаетесь с <a href="{% url 'personal_data' %}">политикой обработки ПД</a> </p>
        </div>
    </div>
</div>


{% endblock %}