{% extends 'header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/reviews.js' %}" defer></script>
{% endblock %}

{% block title %}
Содействие и защита
{% endblock %}

{% block head_links %}
<a href="{% url 'contacts' %}" class="link">Контакты</a>
<a href="{% url 'reviews' %}" class="link active_link">Отзывы</a>
<a href="{% url 'home' %}"  class="link">Главная страница</a>
{% endblock %}

{% block content %}
<div class="title_block">
    <div class="content_block">
        <h1>Отзывы</h1>
    </div>
</div>

<div class="reviews">
    <div class="reviews_content">
        {% for review in reviews %}
            <div class="review_block">
                <div class="review_head">
                    <img src="{% static 'png/profile.png' %}" class="review_head_img">
                    <div class="review_head_info">
                        <p class="review_name">{{ review.name }}</p>
                        <p class="review_date">{{ review.date }}</p>
                    </div>
                </div>
                <div class="review_body">
                    {{ review.review }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="make_review">
    <div class="make_review_content">
        <h1>Уже пользовались нашими услугами? Оставьте свой отзыв!</h1>
        <p class="make_review_content_p">Ваше мнение очень важно для нас, и мы будем благодарны, если вы поделитесь своим опытом.</p>
        <form method="POST" class="make_review_form">
            {% csrf_token %}
            <input id='name' name="name" type="text" placeholder="ФИО" maxlength="45" size="30" class="input_form" autocomplete="off" required>
            <textarea id='review' name="review" placeholder="Ваш отзыв" maxlength="1500" size="30" class="input_form input_review" autocomplete="off" required></textarea>
            <button type='button' class="continue_button" onclick="make_review()">Отправить</button>
        </form>
        <p class="soglasie">Нажимая кнопку "Отправить", Вы соглашаетесь с <a href="{% url 'personal_data' %}" class="soglasie_a">политикой обработки ПД</a> </p>
    </div>
</div>
{% endblock %}